body{
  background-color: #4c6c6c;
  /* background-image: url(/assets/download.jpeg); */
  background-size: cover;
  background-attachment: fixed;
}

.hbar {
  padding: 45px;
  background: #1abc9c;
  border-radius: 15px;
  border-color: #ddd;
  border-style: solid;
  border-width: 6px;
  margin: 1px;
}
img {
  border-radius: 50%;
  border: 4px solid #ddd;
  width: 100px;
  height: 100px;
}

.content{
  margin: auto;
  margin-top: 60px;
  padding: 200px;
  width: 30%;
  background: #8affe8;
  border-radius: 15px;
  border-style: solid;
  border-color: #b6b6b6;
  border-width: 6px;
}
.ending{
  margin: auto;
  width: 50%;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 2%;
  background: #16a085;
  border-radius: 12px;
  text-align: center;
  border: solid 6px;
  border-color: #b6b6b6;
}

.ending a{
  padding: 4px;
  text-decoration: none;
  border: solid 3px;
  border-radius: 8px;
  border-color: #b6b6b6;
  color: #921859;
  background-color: pink;
}