body {
  background-color: #33383d;
  -webkit-text-size-adjust: none;
}
.hbar {
  padding: 45px;
  background: #1abc9c;
  border-radius: 15px;
  border: solid #ddd;
  border-width: 6px;
  text-align: center;
}
.nem {
  padding: 20px;
  border: #00a88e solid 10px;
  border-radius: 55px;
  margin: auto;
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  font-size: larges;
  color: #00FFFF;  
  background-color: #333333;
}
img {
  align-self: center;
  height: 180px;
  width: 140px;
  border: solid #41d1b9 6px;
  border-radius: 10px;
}


.content {
  text-decoration: none;
  margin: auto;
  margin-top: 60px;
  background: #333333;
  border-radius: 15px;
  border: solid #ddd;
  border-width: 6px;
  font-size: smaller;
  color: #00FFFF;
}

.ending {
  margin: auto;
  width: 70%;
  margin-top: 60px;
  padding: 2%;
  background: #16a085;
  border-radius: 12px;
  text-align: center;
  border: solid #ddd 6px;
}

.ending a {
  padding: 2%;
  text-decoration: none;
  border: solid 3px;
  border-radius: 8px;
  border-color: #ddd;
  color: #00FFFF;
  background-color: #333333;
}
.wip {
  text-align: center;
  color: #ddd;
}