html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    background: #aeecfa;
}

body { 
  margin: 1;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  border-radius: 15px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 15px;
}

.header a.myinf {
  font-size: 30px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: #ff8787;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

.box {
    overflow: hidden;
    background-color: #beb7b7;
    resize: horizontal 1000px;
    padding: 150px 100px;
    border-radius: 15px;
  }
  